<h1>TOP画面</h1>


<%= link_to '入力', url_for(:controller => 'board', :action => 'input')%><br>

<%= link_to '一覧', url_for(:controller => 'user', :action => 'show') %><br>

<%= link_to '登録', url_for(:controller => 'user', :action => 'register') %><br>

<%= link_to '実験ページ', url_for(:controller => 'user', :action => 'to_experiment') %><br>


